sandbox.json
{
    "StartAt": "parallelA",
    "States": {
        "parallelA": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "a",
                    "States": {
                        "a": {
                            "Type": "Task",
                            "Resource": "a",
                            "ResultPath": "$.a",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "aa",
                    "States": {
                        "aa": {
                            "Type": "Task",
                            "Resource": "aa",
                            "ResultPath": "$.aa",
                            "Catch": [
                                {
                                    "ErrorEquals": [ "Error" ],
                                    "ResultPath": "$.myerror",
                                    "Next": "bb"
                                }
                            ],
                            "End": true
                        },
                        "bb": {
                            "Type": "Task",
                            "Resource": "bb",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "b"
        },
        "b": {
            "Type": "Task",
            "Resource": "b",
            "ResultPath": "$.bbb",
            "Retry": [
                {
                    "ErrorEquals": [ "Error" ],
                    "MaxAttempts": 6,
                    "IntervalSeconds": 0.25,
                    "BackoffRate": 2.0
                }
            ],
            "Next": "c"
        },
        "c": {
            "Type": "Task",
            "Resource": "c",
            "ResultPath": "$.ccc",
            "Next": "parallel"
        },
        "parallel": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "d",
                    "States": {
                        "d": {
                            "Type": "Task",
                            "Resource": "d",
                            "Next": "e"
                        },
                        "e": {
                            "Type": "Task",
                            "Resource": "e",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "f",
                    "States": {
                        "f": {
                            "Type": "Task",
                            "Resource": "f",
                            "Next": "z"
                        },
                        "z": {
                            "Type": "Wait",
                            "Seconds": 3,
                            "Next": "g"
                        },
                        "g": {
                            "Type": "Task",
                            "Resource": "g",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "h"
        },
        "h": {
            "Type": "Task",
            "Resource": "h",
            "Next": "i"
        },
        "i": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$[1][0].f",
                    "StringEquals": "f",
                    "Next": "choice-one"
                }
            ],
            "Default": "choice-three"
        },
        "choice-one": {
            "Type": "Task",
            "Resource": "excellent",
            "End": true
        },
        "choice-three": {
            "Type": "Task",
            "Resource": "what",
            "End": true
        }
    }
}
